$main-text-color: #2C3949;
$a-color: #F39F18;
$color-submit: #394B5F;
.before {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
}

.after {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
}

.ul-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.forms {
    opacity: 0.8;
    background-color: #243343;
    padding: 30px;
    color: #97a4b2;
    font-size: em(14px);
}

a {
    color: $a-color;
    font-family: "PFCentroSlabProMedium", $georgia;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PFCentroSlabProMedium", $georgia;
    margin: 0;
    text-transform: uppercase;
}

.button {
    display: inline-block;
    height: 46px;
    background-color: #F39F18;
    border-bottom: 2px solid #B97200;
    color: #000;
    font-family: "PFCentroSlabProBold", $georgia;
    font-size: em(22px);
    text-align: center;
    padding: 10px 0;
    &:hover {
        text-decoration: none;
        color: #000;
    }
}

.button_span {
    margin: 0 15px;
}

.my-table {
    display: table;
}

.my-table-cell {
    display: table-cell;
}

.my-table-row {
    display: table-row;
}

.main-header {
    width: 100%;
    min-height: 710px;
    background-size: cover;
    background-position: center;
    position: relative;
    &::before {
        @extend .before;
        background: #394b5f;
        opacity: .85;
    }
}


/* .top-line_header begin */

.top-line_header {
    width: 100%;
    min-height: 160px;
    padding-top: 45px;
    background: url('../img/top_gradient.png') repeat-x;
}

.header-logo_img {
    width: 100px;
}

.menu-header_ul {
    @extend .ul-menu;
}

.li-item {
    display: inline-block;
    line-height: 46px;
    padding: 0 10px;
}

.li-item_a {
    color: #fff;
    font-size: em(13px);
}

.li-item_active-a {
    color: $a-color;
    text-decoration: underline;
}

.li-item_a:hover {
    color: $a-color;
    text-decoration: underline;
}

.li-item_a:active {
    color: $a-color;
    text-decoration: underline;
}

.phone_span {
    font-family: "RobotoBold";
    color: #fff;
}

.phone_span {
    float: right;
    font-size: 19px;
    margin: 9px 0 0;
}

.menuToggleButton {
    display: none;
    float: right;
}

.menuToggleButton.on+#menu {
    z-index: 10;
}


/* .top-line_header end */


/* .header_wrap begin */

.header_wrap {
    margin-top: 40px;
}

.h1-logo {
    color: #fff;
    margin-top: 120px;
    border-bottom: #F39E1A 8px solid;
    display: inline-block;
    padding-bottom: 5px;
}

.ul-header {
    @extend .ul-menu;
    padding-top: 40px;
}

.ul-header_li {
    font-family: "RalewaySemiBold", $helvetica;
    line-height: em(30px);
}

.ul-header_li::before {
    display: inline-block;
    content: "";
    @include triangle(11px 6px,
    #F39E1A,
    right);
    margin-right: 5px;
}

.a-header {
    text-decoration: none;
    color: #fff;
    font-size: em(18px);
    &:hover {
        text-decoration: underline;
        color: #fff;
    }
}

.header-form {
    @extend .forms;
}

.h4-form {
    font-family: "PFCentroSlabProMedium", $georgia;
    font-size: em(30px);
    text-transform: none;
    margin: 0;
}

.span-form {
    display: block;
    font-size: em(18px);
    font-family: "RalewayRegular", $georgia;
    padding: 18px 0 30px 0;
}

.div-form {
    padding-bottom: 20px;
}

.div-form_a {
    text-align: center;
}

.div-form_input {
    width: 100%;
    height: 30px;
    background-color: #34465A;
    border: 0;
    border-top: 2px solid #1F2A36;
    color: #fff;
    &:focus {
        font-size: 18px;
        border-top: 5px solid #1F2A36;
    }
    @include transition(all 1.0s ease-in-out);
}

.div-form_span {
    display: block;
    padding-bottom: 7px;
    font-family: "RalewayRegular", $georgia;
    letter-spacing: 3px;
}

.a-form-button {
    @extend .button;
}

.a-form-button_span {
    @extend .button_span;
}


/* .header_wrap end */


/* .icon-row begin */

.icon-row {
    text-align: center;
    margin-top: 40px;
}


/* .icon-row end */


/* .main-section begin */

.main-section_white {
    position: relative;
    &:before {
        @extend .before;
        background: url('../img/bah_1.png') repeat-x;
        top: -5px;
    }
}

.main-section_blue {
    position: relative;
    background-color: #2C3949;
    &:before {
        @extend .before;
        background: url('../img/bah_2.png') repeat-x;
        top: -5px;
    }
}

.main-section_grey {
    position: relative;
    background-color: #E5E5E5;
    &:before {
        @extend .before;
        background: url('../img/bah_3.png') repeat-x;
        top: -5px;
    }
}

.main-section_head {
    text-align: center;
}

.h2-section {
    display: inline-block;
    margin: 80px 0 70px;
    &:after {
        @extend .after;
        margin-top: 30px;
        background-color: $a-color;
        height: 4px;
        width: 165px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.h2-section_white {
    color: #fff;
}

.p-section {
    margin: 0 0 65px 0;
    text-align: center;
}

.p-section_white {
    color: #fff;
}

.content-first-row {
    width: 100%;
    min-height: 550px;
    background: url('../img/s1_gray_bg.png') center bottom no-repeat;
}

.item-content {
    text-align: left;
}

.item-content-down {
    padding: 70px 0 0;
}

.h2-item-content {
    color: $a-color;
    font-size: em(25px);
    text-decoration: underline;
    font-family: "PFCentroSlabProMedium", $georgia;
}

.p-item-content {
    font-size: em(17px);
    font-family: "RalewayRegular";
    padding: 25px 0;
    border-bottom: 1px solid #DEE1E5;
}

.p-item-content_white {
    color: #F3F3F3;
}

.content-triangl-bg {
    position: absolute;
    top: -100px;
    width: 100%;
    height: 100px;
    background: url('../img/s1_triangle.svg') center no-repeat;
    background-size: 100% 100%;
}

.content-triangl-wrap {
    position: relative;
    width: 100%;
}

.icon-wrap {
    position: relative;
    width: 100%;
}

.content-icon {
    position: absolute;
    width: 100%;
    height: 140px;
    top: 90px;
    background: url('../img/scales.svg') center bottom no-repeat;
    background-size: contain;
    z-index: 10;
}

.content-icon-logo {
    position: absolute;
    width: 100%;
    height: 56px;
    top: 250px;
    left: -3px;
    background: url('../img/logo_triangle.svg') center bottom no-repeat;
    background-size: contain;
    z-index: 10;
}

.content-second-row {
    background-color: #394B5F;
}

.main-section_submit {
    width: 100%;
    background-color: #2C3949;
    padding: 50px 0;
    text-align: center;
}

.main-section_submit-white {
    background-color: #E5E5E5;
}

.main-section_submit-blue {
    background-color: #394B5F;
}

.main-section-second-title {
    text-align: center;
    padding: 0 0 65px 0;
}

.h3-section {
    text-transform: uppercase;
    font-size: em(28px);
}

.h3-section_a {
    text-decoration: underline;
    &:hover {
        color: $a-color;
        text-decoration: none;
    }
}


/* .main-section-first end */


/* .main-section-srcond begin */

.items-wrap {
    margin-bottom: 20px;
}

.item-service {
    max-height: 250px;
}

.img-wrap {
    text-align: center;
    color: $a-color;
    border-bottom: 1px solid $a-color;
    width: 60px;
    height: 120px;
    margin: 0 auto;
    position: relative;
}

.my-my {
    position: absolute;
    right: -25px;
    top: -30px;
}

.p-item-service {
    color: #111;
    font-family: "RalewayBold";
    text-align: center;
    text-decoration: underline;
    padding: 20px 0 60px;
    font-size: 13px;
}


/* .main-section-second end */


/* .main-section-third begin */

//content circle begin
.content-circle {
    min-height: 850px;
    background: #2C3949 url('../img/s3_sun_bg.png') center top no-repeat;
    background-size: contain;
    padding-top: 60px;
}

.item-content-circle {
    max-width: 250px;
    padding-bottom: 120px;
}

.item-content-circle_center {
    margin: 0 auto;
}

.item-content-circle_down {
    padding-top: 100px;
}

.item-content-circle_right {
    float: right;
}

.item-content-circle_left {
    float: left;
}

.item-content-circle_middle-left {
    margin-left: 10%;
}

.item-content-circle_middle-right {
    float: right;
    margin-right: 10%;
}

.item-content-circle_last {
    padding-bottom: 0;
}

.my_circle {
    color: $a-color;
    margin: 0 auto;
}

.icon-circle {
    text-align: center;
}

.h3-content-circle {
    color: $a-color;
    text-transform: none;
    text-decoration: underline;
}

.p-content-circle {
    color: #fff;
}

//content circle end
// content not circle begin
.content-not-circle {
    display: none;
}

.item-content-not-circle {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #fff;
}

.h3-content-not-circle {
    color: $a-color;
    text-decoration: underline;
    text-transform: none;
    font-size: 22px;
}

.p-content-not-circle {
    color: #fff;
}

// content not circle end

/* .main-section-third end */


/* .main-section fore begin */

.main-section_item-wrap {
    margin-bottom: 70px;
    text-align: center;
}

.main-section-item {
    display: inline-block;
    width: 260px;
    height: 390px;
    background-color: #2C3949;
    padding: 50px 0 0 0;
    margin-right: 30px;
    vertical-align: middle;
    &:last-child {
        margin-right: 0;
    }
}

.main-section-item_icon {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #F39F18;
    margin: 0 auto;
}

.my_item_icon {
    position: absolute;
    top: -21px;
    left: 8px;
    color: #fff;
}

.main-section-item_span {
    display: block;
    margin: 35px 0 25px;
    color: #fff;
    font-size: em(24px);
    text-align: center;
}

.main-section-item_p {
    color: #97a4b2;
    font-size: 14px;
    max-width: 205px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}


/* .main-section fore end */


/* .main-section five begin */

.content-wrap-about-work {
    padding-bottom: 70px;
}

.about-work-item {
    position: relative;
    height: 128px;
    width: 100%;
}

.about-work-item_arrow {
    width: 292px;
    height: 132px;
    position: absolute;
    background: url('../img/tc_triangle.svg') left top no-repeat;
    background-size: 100%;
    z-index: 0;
}

.arrow-one {
    background: url('../img/tc_triangle_first.svg') left top no-repeat;
    background-size: 100%;
    left: 72px;
}

.arrow-two {
    left: 24px;
}

.arrow-thre {
    left: -24px;
}

.arrow-fore {
    left: -72px;
}

.about-work-item_wrap {
    height: 50px;
    width: 85%;
    position: absolute;
    z-index: 2;
    top: 30%;
}

.wrap-one {
    transform: translate(50%, 0);
}

.wrap-two {
    transform: translate(40%, 0);
}

.wrap-three {
    transform: translate(17%, 0);
}

.wrap-fore {
    transform: translate(33%, 0);
}

.about-work-icon {
    position: relative;
    width: 50px;
    color: #fff;
}

.my_item_wrap {
    position: absolute;
    font-size: 50px;
    top: -10px;
    left: 0;
}

.about-work-h3 {
    display: inline-block;
    font-size: 17px;
    width: 100%;
    height: 26px;
    line-height: 23px;
    vertical-align: middle;
    text-transform: none;
    text-decoration: underline;
    padding-left: 5px;
    font-family: "PFCentroSlabProMedium";
    color: #fff;
}

.about-work {
    display: inline-block;
    font-family: "PFCentroSlabProBold";
    font-size: 22px;
    color: #fff;
}

.content-wrap-about-work-mobile {
    display: none;
}


/* .main-section five end */


/* .main-section six begin */

.main-section-item_grey {
    background-color: #E5E5E5;
    height: 350px;
}

.icon-person {
    width: 125px;
    height: 125px;
    margin: 0 auto;
    background: url('../img/team/1.jpg') no-repeat;
    background-size: contain;
    border: 4px solid #D6D6D6;
    border-radius: 50%;
}

.icon-person-name {
    display: block;
    color: #333333;
    font-size: 17px;
    font-family: "RalewayBold";
    padding: 34px 0 12px 0;
}

.icon-person-position {
    display: block;
    color: #788492;
    font-family: "RalewayRegular";
    padding-bottom: 25px;
    font-size: 13px;
}

.icon-person-tele {
    font-family: "RobotoBold";
    font-size: 16px;
}

.icon-person_doe {
    background: url('../img/team/2.jpg') no-repeat;
    background-size: contain;
}

.icon-person_katya {
    background: url('../img/team/3.jpg') no-repeat;
    background-size: contain;
}


/* .main-section six end */


/* .main-section seven slider begin */

.main-section_content-slider {
    margin-bottom: 100px;
}

.slide-wrap {
    width: 100%;
    text-align: center;
}

.slide-img-wrap {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    border: 6px solid $a-color;
    overflow: hidden;
    display: inline-block;
}

.slide-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.slide-title {
    display: block;
    font-size: 20px;
    font-family: "RalewayBold";
    color: #333333;
    margin: 30px 0 12px 0;
}

.slide-description {
    display: block;
    font-size: 13px;
    font-family: "RalewayRegular";
    color: #6e7b8b;
    margin-bottom: 20px;
}

.slide-text {
    font-size: 15px;
    font-family: "RalewayRegular";
    color: #333333;
}

.main-section_content-slider .owl-dots {
    text-align: center;
    margin: 15px 0 0 0;
}

.main-section_content-slider .owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: grey;
    margin: 0 5px;
    border-radius: 50%;
}

.main-section_content-slider .owl-dots .active {
    background-color: #F39F18;
}


/* .main-section seven slider end */


/* .main-section eight begin */

.main-section_head__left {
    text-align: left;
}

.p-section__left {
    text-align: left;
}

.h2-section__left {
    &:after {
        text-align: left;
        left: 15px;
        transform: none;
    }
}

.items-wrap-eight-section {
    margin-bottom: 80px;
}

.eight-section-item {
    text-align: center;
}

.eight-section-item_img-wrap {
    display: inline-block;
    width: 72px;
    height: 72px;
    position: relative;
}

.eight-section {
    position: absolute;
    right: -3px;
    top: -22px;
    font-size: 78px;
    color: #f39f18;
}

.p-eight-section {
    font-family: "RalewayBold";
    font-size: em(14px);
    padding-top: 30px;
    color: #333333;
}

.header-form__eight-section {
    margin-top: 80px;
    background-color: #DDDDDD;
    color: #2C3949;
    opacity: 1;
}

/* .main-section eight slider end */


/* footer begin */

.main-footer {
    position: relative;
    padding: 55px 0 55px 0;
    background-color: #2c3949;
    &:before {
        @extend .before;
        background: url('../img/bah_2.png') repeat-x;
        top: -5px;
    }
}

.footer-line {
    width: 100%;
    height: 60px;
    background-color: #2c3949;
    margin-top: 25px;
}

/* footer end */
