/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    span.phone_span {
        float: right;
        font-size: 15px;
        margin: 13px 0 0;
    }
    div.item-content-down {
        padding: 55px 0 0;
    }
    div.item-content-second {
        padding: 0;
    }
    div.item-content-circle_middle-left {
        margin-left: 0;
    }
    div.item-content-circle_middle-right {
        margin-right: 0;
    }
    h3.about-work-h3 {
        line-height: 23px;
        font-size: 15px;
    }
    div.about-work-item_wrap {
        top: 21%;
    }
    div.about-work-item_arrow {
        width: 110%;
    }
    div.wrap-one {
        transform: translate(50%, 0);
    }
    div.wrap-two {
        transform: translate(34%, 0);
    }
    div.wrap-three {
        transform: translate(7%, 0);
    }
    div.wrap-fore {
        transform: translate(23%, 0);
    }
    span.about-work {
        font-size: 18px;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    h1.h1-logo {
        margin: 0;
    }
    div.top-line_header {
        min-height: 125px;
    }
    div.header_wrap {
        margin: 0;
    }
    ul.ul-header {
        padding: 20px 0;
    }
    div.icon-row {
        margin-top: 25px;
    }
    .menu-header {
        display: none;
    }
    a.menuToggleButton {
        display: inline;
        margin: 18px 0 0 40px;
    }
    span.phone_span {
        float: right;
        font-size: 19px;
        margin: 5px 0 0;
    }
    div.menuToggleButton_div {
        top: 55px;
        right: 5px;
    }
    h1.h1-section {
        margin: 50px 0 70px;
    }
    p.p-section {
        margin: 0 0 25px;
    }
    div.item-content-down {
        padding-top: 15px;
    }
    p.p-item-content {
        padding: 10px 0;
    }
    div.content-icon {
        top: -355px;
        background-position: right bottom;
    }
    div.content-icon-logo {
        top: 113px;
    }
    div.content-circle {
        display: none;
    }
    div.content-not-circle {
        display: block;
    }
    div.main-section-item {
        margin-right: 3px;
    }
    div.main-section-item {
        width: 180px;
    }
    p.main-section-item_p {
        font-size: 13px;
        max-width: 145px;
    }
    div.about-work-item_arrow {
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }
    div.arrow-one {
        left: 0;
    }
    div.arrow-two {
        left: 0;
    }
    div.arrow-thre {
        left: 0;
    }
    div.arrow-fore {
        left: 0;
    }
    div.wrap-one {
        transform: translate(16%, 0);
        ;
    }
    div.wrap-two {
        transform: translate(25%, 0);
    }
    div.wrap-three {
        transform: translate(26%, 0);
    }
    div.wrap-fore {
        transform: translate(26%, 0);
    }
    div.about-work-item_wrap {
        top: 17%;
    }
    div.my_item_wrap {
        font-size: 80px;
    }
    div.content-wrap-about-work {
        display: none;
    }
    div.content-wrap-about-work-mobile {
        display: block;
    }
    .about-work-item-mobile {
        background-color: #F39F18;
        padding: 5px;
        border-radius: 3px;
        margin-bottom: 10px;
    }
    div.icon-mobile {
        position: relative;
        width: 100%;
        height: 100px;
    }
    div.my_item_wrap-mobile {
        position: absolute;
        color: #fff;
        top: -20px;
        left: 10px;
        font-size: 98px;
    }
    div.about-work-h3-wrap {
        line-height: 80px;
    }
    span.about-work {
        font-size: 52px;
    }
    h3.about-work-h3 {
        line-height: 93px;
        font-size: 31px;
        padding-left: 23px
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    div.icon-row {
        margin: 19px 0;
    }
    div.top-line_header {
        min-height: 125px;
    }
    .menu-header {
        display: none;
    }
    a.menuToggleButton {
        display: inline;
        margin: 18px 0 0 40px;
    }
    span.phone_span {
        float: right;
        font-size: 19px;
        margin: 5px 0 0;
    }
    div.menuToggleButton_div {
        top: 55px;
        right: 5px;
    }
    div.content-icon {
        display: none;
    }
    div.content-icon-logo {
        display: none;
    }
    div.content-triangl-bg {
        display: none;
    }
    div.content-first-row {
        min-height: 460px;
    }
    h3.h3-content-not-circle {
        padding-bottom: 30px;
    }
    div.main-section-item {
        margin: 0;
        width: 80%;
    }
    p.main-section-item_p {
        font-size: 16px;
        max-width: 80%;
    }
    div.my_item_wrap-mobile {
        position: absolute;
        color: #fff;
        top: -18px;
        left: 1px;
        font-size: 80px;
    }
    div.about-work-h3-wrap {
        line-height: 80px;
    }
    span.about-work {
        font-size: 43px;
    }
    h3.about-work-h3 {
        line-height: 70px;
        font-size: 24px;
        padding-left: 23px;
    }
    div.icon-mobile {
        position: relative;
        width: 100%;
        height: 81px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    div.icon-row {
        margin: 19px 0;
    }
    div.top-line_header {
        min-height: 150px;
    }
    span.span-form {
        padding: 14px 0 19px;
    }
    a.a-form-button {
        width: auto;
    }
    div.top-line_header {
        padding-top: 30px;
    }
    a.menuToggleButton {
        margin: 18px 0 0 10px;
        display: inline;
    }
    span.phone_span {
        float: right;
        font-size: 14px;
        margin: 9px 0 0;
    }
    div.menuToggleButton_div {
        top: 55px;
        right: 5px;
    }
     div.my_item_wrap-mobile {
        font-size: 61px;
    }
    div.about-work-h3-wrap {
        line-height: 80px;
    }
    span.about-work {
        font-size: 32px;
    }
    h3.about-work-h3 {
        line-height: 23px;
        font-size: 17px;
        padding-left: 18px;
    }
    div.icon-mobile {
        height: 56px
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    a.menuToggleButton {
        margin: 18px 0 0 5px;
        display: inline;
        width: 19px;
    }
    span.phone_span {
        font-size: 14px;
        margin: 9px 0 0;
    }
    img.header-logo_img {
        width: 70px;
    }
    a.header-logo {
        line-height: 42px;
    }
    div.menuToggleButton_div {
        width: 100%;
        top: 55px;
        right: 5px;
    }
    span.button_span {
        font-size: 15px;
        margin: 0px 3px;
    }
    h1.h1-section {
        font-size: 24px;
    }
    h2.h2-item-content {
        font-size: 13px;
    }
    h2.h2-section {
        font-size: 18px;
    }
}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}
